/*-20180919 newadd  DefaultResultComp.min.css--*/
@charset "utf-8";

html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,em,font,img,small,strong,b,u,i,s,dl,dt,dd,ol,ul,li,fieldset,form,label,input,table,tr,td {padding: 0;margin: 0;}
textarea {resize: none;overflow: auto;line-height: 18px;border: 1px solid #ccc;-webkit-appearance: none;}
html {font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
ol,ul,li {list-style: none outside none;}
i {font-style: normal;}
img {border: none;}
body,button,input,select,textarea {font: 12px/150% Arial,"Microsoft YaHei","宋体",serif;color: #333;outline: 0;}
select {font-family: verdana,sans-serif;}
body {background-color: #fff;}
s,em {font-style: normal;}
s {text-decoration: none;}
.clear {clear: both;}
input:not([type="image"]),textarea {box-sizing: content-box;}
a {text-decoration: none;color: #666;background-color: transparent;cursor: pointer;outline: none;}

.sidebar-adv{ position:relative; width: 212px; /*height: 138px; margin-left: 20px; margin-top: 44px; border: 1px solid #e0e0e0;*/ }
.slider2d{ position:relative; width: 100%; overflow: hidden;text-align: center; /*height: 100%;*/}
.slider2d ul{position: relative; z-index: 1; /*height: 138px;*/ }
.slider2d li{ float: left; width: 212px; height: 138px; cursor: pointer; overflow: hidden; }
.slider2d a{ margin-top: 0; }
.slider2d li img{ max-width: 100%;height: 138px; }

.slider2d .title{ position: relative; z-index: 2; height: 26px; padding: 0 3%; text-align: left; color: #666; font-size: 12px; line-height: 26px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.slider2d .title i{ padding: 0 5px; margin-right: 2px; border-radius: 8px; border: 1px solid #666; }
.slider2d .btn-prev,
.slider2d .btn-next{ position:absolute; top: 67px; z-index:7; display:block; width:16px; height:24px; overflow:hidden; cursor:pointer; background-image: url("../content/images/icon-btns.png"); background-repeat: no-repeat; }
.slider2d .btn-prev{ left: 0; background-position:left top;}
.slider2d .btn-next{ right: 0; background-position:right top;}
.slider2d .btn-prev:hover{ background-position:left -24px; }
.slider2d .btn-next:hover{ background-position:right -24px; }

/*详情页*/
.ad{ display: inline-block;margin-left: 3px; position:relative;}
/*.hasad .info{padding: 28px 0;}
.hasad .qr-code{padding: 34px 0 26px 20px;}*/

.dllink-box { text-align: center; }
.dllink-box-left { display: inline-block;  vertical-align: top; margin: 0 auto; }
.dllink-box .ad{ display: inline-block;vertical-align: top; margin-top: 44px; }
.dllink-box .ad .slider2d > ul li{height: 155px;/* width: 220px; */}
.dllink-box .ad img{ height: 155px; }
/*图片轮播右下方小圆点*/
div.slide-controls {
    left: 0;
    bottom: 0px;
    width: 212px;
    height: 14px;
    display: none;
    position: absolute;
}
.slide-controls ul{
    float: right;
}
.slide-controls ul li {
    float: left;
    height: 10px;
    margin: 2px 1px;
    width: 10px;
}
.slide-controls ul li em {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #fff;
    text-indent: -9999px;
    cursor: pointer;
}
.slide-controls ul li.current em {
	background-color: #fe6500;
}
.font {
position:absolute;z-index:2;left:0;top:0;color:blue;font-size:14px;margin:8px; font-weight:bolder
}